body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* My CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	/* background: #201f32; */
	background: green;
	color: #fff;
}
/* -------------NavBar------------- */
.navbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: #3a497d;
	height: auto;
}
.navbar ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar li {
	list-style-type: none;
}
.navbar a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #fff;
	font-family: sans-serif;
	font-size: 1rem;
}
.navbar a:hover {
	color: #bbbbc1;
	background: #303a62;
}
.navbar a:focus {
	color: #bbbbc1;
	background: #201f32;
}

/* -------------Homepage------------- */

.homepage .slick-prev {
	left: 3% !important;
	z-index: 1;
}
.homepage .slick-next {
	right: 3% !important;
	z-index: 1;
}

.homepage {
	min-height: calc(100vh - 50px);
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 0.5rem;
	padding: 0;
	text-align: center;
	font-size: 4rem;
	flex-wrap: wrap;
	justify-content: center;
	overflow: auto;
}
/* -------------MovieCard------------- */
.movie-card {
	display: flex;
	flex-direction: column;
	margin: 15px;
	min-height: calc(100vh - 50px);
	/* background: url('aa') no-repeat center; */
}

svg {
	width: 20px;
	height: 20px;
}
